.Nav{
    width:1300px;
    padding-left: 100px;
    height:50px;
    background-color: lightblue;
    span{border-right-style:dotted;font-size: 30px;}
    .name{padding-right:30px;margin-left:30px;}
    .id{padding-right:20px;margin-left:20px;}
    .contact{padding-right:100px;margin-left:100px;}
    .department{padding-right:30px;margin-left:30px;}
    .role{padding-right:30px;margin-left:30px;}
    .action{padding-right:100px;margin-left:100px;}
}
.list{
    .icon{
        width:100px;
    }
    .name{p{width:100px;}margin-right: 20px;margin-left: 50px;p{width:100px}}
    .id{p{width:50px;}margin-right: 20px;p{width:50px}}
    .contact{p{width:400px;}margin-right: 40px;p{width:300px}}
    .department{p{width:200px;}margin-right: 80px;p{width:100px}}
    .role{p{width:200px;}}
    .action{width:300px; img{height:40px;cursor: pointer;}}
    height:50px;
    background-color: lightcoral;
    font-size: 20px;
    display: flex;
    width:1300px;
}
.list:hover{
    background-color: lightcyan;
}