.TopNav{
    display: flex;
    justify-content: space-between;
    .Icon{
    margin-top: 10px;
    margin-left: 5px;
    height:80px;
    width:80px;
    background-image:url(../Public/icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;

    }
    .Icon:hover{
    background-image:url(../Public/icon2.svg);
    }
    p{font-size: 30px; margin-top: 25px;}
    background-color: #63b5e5;
    height:100px;
}